

.ant-layout{
    background-color: white!important;
    width: inherit;
    height: auto
}
 
body{
    background-color: white;
    font-family: 'Armata',sans-serif;
    width: inherit!important;
    height: auto
}

.colorBox{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}


.hover{
    margin: 5px;
    font-size: 20px;
    width: 50%;
    transition: all .2s ease-in-out;
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    &:hover {
        color: #30A5FF
    }

}

.hoverBox{
    height: 12px;
    width: 32px;
    padding: 2px 8px;
    border: 1px solid black;
    margin: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        background: #4d5959;
        color: white;
        
    }
}

.uniMargin{
    margin: 15px
}

.colStyle { 
    background-color: white!important; 
    text-align: center;
}

.headStyle{
    font-size: 2.5rem;
    color: black;
    font-family: 'Montserrat',sans-serif;
    margin: 0 10px; 
}

.paraStyle{
    font-size: 1.5rem; 
}

.boxShadow{
box-shadow: 0 0px 10px -3px rgba(0,0,0,.5)
}

.CircleLoader{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white
  }

  @media only screen  and (max-width: 600px) {
    .headStyle{
        font-size: 2rem;
        color: black;
        font-family: 'Montserrat',sans-serif;
        margin: 0 10px; 
    }
    .paraStyle{
        font-size: 1rem; 
    }
}

@media only screen  and (max-width: 425px) {
    .headStyle{
        font-size: 1rem;
        color: black;
        font-family: 'Montserrat',sans-serif;
        margin: 0 10px; 
    }
    .paraStyle{
        font-size: 0.75rem; 
    }
}