.carousel.carousel-slider{
    margin:auto
}

.carousel .thumbs-wrapper {
    margin: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.ant-drawer-body{
    padding: 7.5px!important 
}