.card{
    // margin: 120px 44px;
}

.colBlog{ 
    margin: 10px
}

.colBlog img{
    box-shadow: 0 0px 10px -3px rgba(0,0,0,.5);
    max-height: 500px;
    width: 100%;
     
}

.subs{
    height: 200px;
    background-image: linear-gradient(to right top, #2a2a2a, #242425, #1f1e1f, #1b1819, #161213, #130e0f, #10090b, #0c0405, #090304, #060203, #030101, #000000);
}
