.main{
    margin: 10px 0;
}

.subCategory(){
    opacity: 0;
    color:white;
    position: absolute;
    z-index: 1;
    top:25%;
    left:27.5%;
    transition: all .6s ease-in-out;

    button{
        color: rgb(5, 5, 5);
        // font-size: 17.5px;
    }

}



.subCategoryMen{
    .subCategory();
}

.subCategoryWomen{
    .subCategory();
}

.boxMain{
    .box();
    
}

.box(){
    height:45vh;
    width: 100%;
 
    margin: 10px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
    transition: all .5s;
    overflow: hidden; 
}

.boxMinor(){
    height:45vh;
    width: 100%;
    margin: 10px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover; 
}

.boxMen{
    height:100%;
    width: 100%;
    transition: all .5s;
    background-image: url('https://images.unsplash.com/photo-1503993319832-3d3170298339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80')
}

.boxWomen {
    height:100%;
    width: 100%;
    transition: all 1s;
    background-image: url('https://images.unsplash.com/photo-1497634763913-2ea08bf9de5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-position: center
}

.boxWomen::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
  }
 
.boxMain:hover .boxWomen {
    transform: scale(1.2);
}

.boxMain:hover .boxWomen:before{
    opacity: 1;
}
.boxMain:hover .boxMen{
    transform: scale(1.2) ;
}

.boxAccessories{
    .boxMinor();
    background-image: url('https://images.unsplash.com/photo-1487060567133-77a76299cb19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80')
}

.boxBags{
    .boxMinor();
    background-image: url('https://images.unsplash.com/photo-1523182624816-b827d2fcb47f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')
}

.text{
    position: absolute;
    z-index: 1;
    font-size: xx-large;
    height: 25%;
    width: 100%;
    // left: 25px;

    // background-color: rgba(4, 0, 255, 0.24);
    color: rgb(5, 5, 5);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.textShop{
    position: absolute;
    z-index: 1;
    right:0;
    bottom: 0;
    font-size: xx-large;
}
 
.boxTitle{
    position: absolute;
    color:black;
    font-size: 16px;
    bottom: 20%;
    right:  0;
    width: 275px;
    padding: 20px;
    background-color: white; 
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxTitle h3{
    font-weight: 500!important;
}

.boxTitle div{
    display: flex;
    
    justify-content: center;
}

.boxTitle h4{
    font-weight: 700!important;
    background-color: black;
    color: white;
    width: 102px;
    text-align: center;
    padding: 5px;
}

@media only screen and (min-width: 992px) and (max-width: 1700px) {
    .boxTitle{
        position: absolute;
        color:black;
        font-size: 12px;
        width: 250px;
        padding: 5px;
        background-color: white; 
        text-align: center;
    }
  }