.featured{
      text-align: center;
      padding-bottom: 10px;
      
}

.featTitle h3{
    font-size: 22px;
    font-weight: 700;
    color: black;
    margin: 0
}

.featTitle span{
    font-size: 16px;
    color: black;
    font-family: Poppins,Roboto,'Helvetica Neue','San Francisco','Segoe UI','Microsoft Sans Serif','Droid Sans',Arial,sans-serif;
    
}

.imgDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgMainDiv{
    display: flex;
    flex-direction: column;
 
}

@media only screen and (max-width: 1023px) {
    .topDiv{
        margin:0px 35px
    }
  }

@media only screen and (min-width: 1024px) {
    .topDiv{
        margin:0px 125px
    }
  }


  .slick-prev:before, .slick-next:before{
    color: black;
    font-size: 22px 
}