@import '~antd/dist/antd.less';

.ant-layout-header{
    padding:0;
    background: rbga(0,0,0,0);
}

.ant-menu{
    background: rgba(0,0,0,0);
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 300
  }

.ant-modal-content{
    max-width: 400px;
}

.ant-menu-horizontal{
    border-bottom:none!important;
}

.loginButtonSection{
    height: auto;
    display: flex;
    flex-direction: column
}

.headerMainPage{
    
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.headerBody{   
    display: flex; 
    justify-content: center;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.headerBodyMain{
    display: flex; 
    justify-content: space-between;
     width: 1024px;
    
}

.headerLogo{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.headerLogo h1{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
}

.headerLeftMain{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.headerRightMain{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.login-form{
  width: 100%
}