.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(151px, 151px));
    grid-gap: 10px;
    grid-auto-flow: dense;
    justify-content: center;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    max-width: 600px;
}
.wrapper li {
    // border: 1px solid #ccc;
}
.wrapper li.landscape {
    grid-column-end: span 2;
}
.wrapper li img {
   display: block;
   object-fit: cover;
   width: 151px;
   height: 151px;
   -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}

@media only screen and (min-width: 1188px) and (max-width: 1199px) {
    .wrapper { 
        grid-template-columns: repeat(auto-fill, minmax(140px, 140px));
        grid-gap: 5px;
    }
    .wrapper li img {
        width: 140px;
        height: 140px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1134px) {
    .wrapper { 
        grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
        grid-gap: 5px;
    }
    .wrapper li img {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1418px) {
    .wrapper { 
        grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
        grid-gap: 5px;
    }
    .wrapper li img {
        width: 120px;
        height: 120px;
    }
}

@media only screen  and (max-width: 472px) {
    .wrapper { 
        grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
        grid-gap: 5px;
    }
    .wrapper li img {
        width: 120px;
        height: 120px;
    }
}


@media only screen  and (max-width: 369px) {
    .wrapper { 
        grid-template-columns: repeat(auto-fill, minmax(90px, 90px));
        grid-gap: 5px;
    }
    .wrapper li img {
        width: 90px;
        height: 90px;
    }
}