.sliderTop {
    position: relative;
}

.extra{
    position: relative;
    height:100vh;
    width: 100vw;
}

.extra img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.mainText{ 
    transform: translate3d(60vw,-60vh,0);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat,sans-serif;
    // animation: zoomIn 1s forwards ease-out;
     
}   

@keyframes zoomIn {
    0%{
        opacity:0;
         
    }
    100%{
        opacity:1;
         
    }
}

.mainText h1{
   font-size: 30px;
   font-weight: 900; 
}

.mainText div{
font-size: 15px;
font-weight: 400; 
color: white;
background-color: black;
width: 100px
}

.sliderTop .slick-slider .slick-next{
    transform: translateX(-30px)
}

.sliderTop .slick-slider .slick-prev{
    transform: translateX(30px);
    z-index: 1;
}