@import '../style/main.less';

.cf {
    position:relative;
    font-family: 'Armata',sans-serif;
  }
  
  .cf img {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .cf .bottom {
    opacity:1;
    position:absolute;
    left:0;
    z-index: 1;
  }
  .cf .bottom:hover{
    opacity:0;
  }
  
  .cf .top {
    opacity:1;
  }

  .categoryHead{
    font-family: 'Armata',sans-serif;
    margin: 0 10px;
    padding: 40px 50px
  }

  .categoryHead h1{
    font-weight:700
  }

  .animateLayout{
    opacity:0;
    
   animation: enterBottom 0.75s forwards ease-out;
}

.iconStyle{
  font-size: 22.5px;
  // background-color: black;
  color: black;
  width: 36px;
  height: 33px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  // padding: 1px 2px 1px 0;
}

// .ant-modal-content{
//   max-width:  1024px!important;
// }

@keyframes enterBottom {
 
    0%{
        opacity:0;
        transform: translate(0, 100px);
    }
    60%{
      opacity:0;
      
  }
    100%{
        opacity:1;
        transform: translate(0px, 0px);
    }
 
}
  