.headerLayout{
    display: flex;
    justify-content: space-between;
    align-content: center;  
    padding: 0 0px 0 20px;
    height: 75px;
 
// box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}


.categoryInfo span{
   opacity:0;
   animation: fadeIn 0.5s forwards ease-out;
}

@keyframes fadeIn {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.headerLayout>h1{
    display: flex;
    align-items: center;
    align-content: center;
}

.headerRight {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.headerRight span{
    display: flex;
    width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    // margin: 10px;
    padding: 0 5px 0 5px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
    color: black;
    transition: all .25s ease-in-out;
    cursor: pointer;
    // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    &:hover{
        // font-size: 27px;
        color: red;
        // background-color: black
    }
}

.headerRight span a {
    color: black;
}


.headerRight span:hover a{
    color: red;
}

.headerBreadCrumbs{
    background-color: #F9F9F9;
    width: inherit;
    height: 34px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.showHeader{
    display: none;
}
@media only screen and (max-width: 768px) {
    .hideHeader{
        display: none;
    }

    .showHeader{
        display: block;
         
    }

    .showHeader span{
        height: 75px;
        font-size: 22.5px
    }
}
